<!-- begin footer -->
<div class="footer">

	<!-- begin footer__left-side -->
	<div class="footer__left-side footer--bg">
		
	</div>
	<!-- end footer__left-side -->

	<!-- begin footer__center -->
	<div class="footer__center footer--bg">

		<!-- begin footer__article -->
		<div class="footer__article">
			<h1 class="title title--h1-footer">About  Jetro</h1>
			<p class="text text--type--footer-text">Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. Id mei vitae denique, in eam commodo veritus disputando.</p>
			<p class="text text--type--footer-text">Pro et erant delicata, eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet oporteat cu vim</p>
		</div>
		<!-- end footer__article -->
		
		<!-- begin footer__widget -->
		<div class="footer__widget">
			<h1 class="title title--h1-footer">Twitter  Widget</h1>
		</div>
		<!-- end footer__widget -->

		<!-- begin footer__social -->
		<div class="footer__social">
			<p class="text text--type--footer-text">Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel.Urbanitas adolescens vim te, per at tritani aperiri.</p>
			<br>
			<p class="text text--type--footer-text">information@jetro.com</p>
			<p class="text text--type--footer-text">1.222.333.4444</p>
		</div>
		<!-- end footer__social -->

	</div>
	<!-- end footer__center -->

	<!-- begin footer__right-side -->
	<div class="footer__right-side footer--bg">
		
	</div>
	<!-- end footer__right-side -->
	
</div>
<!-- end footer -->