<!-- begin page__title -->
<div class="page__title" id="page__title">

	<!-- begin page__title__left-side -->
	<div class="page__title__left-side page__title--bg">
		
	</div>
	<!-- end page__title__left-side -->

	<!-- begin page__title__center -->
	<div class="page__title__center page__title--bg">
		<span class="page__title__text">BLOG</span>
	</div>
	<!-- end page__title__center -->

	<!-- begin page__title__right-side -->
	<div class="page__title__right-side page__title--bg">
		
	</div>
	<!-- end page__title__right-side -->
	
</div>
<!-- end page__title -->